@media (max-width: 1200px) {

    #secao2 {
        max-height: 80%;
        
    }
   
}


@media (max-width:991px){

    #menu .nav{
        display: none;
    }

    #menu .button-menu{
        display: block;
    }

    #secao2 {
        max-height: 70%;
        
    }

    #secao4 .col-lg-6 img {
        padding-left: 20%;
    }
}


@media (max-width: 800px) {


    .carousel-inner img {
        min-width: 400px;

    }
}
@media (max-width: 767px){


#secao4 .col-lg-6 img {
    padding-left: 0%;
}

}

@media (max-width: 768px){

    #secao2 .carousel-inner h2{
        font-size: 14pt;

    }

    #secao3 .col-lg-3{
        width: 50%;

    }

    #secao3 .col-md-3{
        width: 25%;
        padding: 10px;
    }


}

@media (max-width: 590px){

    #secao3 .col-lg-3{
        max-width: 100%;

    }

    #secao3 .col-md-3{
        width: 25%;
        padding: 10px;
    }


}



@media (max-width: 560px) {

    #secao1 .col-6{

       padding: -10px;

    }

    #secao2 .carousel-inner h2{
        font-size: 12pt;

    }
}


@media (max-width: 480px) {


    .carousel-inner img {
        min-width: 300px;

    }

    #secao3 .col-lg-3{
        width: 100%;

    }

}


@media (max-width: 420px){

    .carousel-inner img {
        min-width: 250px;

    }

}

@media (max-width: 370px){

    .carousel-inner img {
        min-width: 230px;

    }

}


@media (max-width: 390px){


    .carousel-inner img {
        min-width: 210px;

    }


    #map-responsive iframe{
        left: 0;
        right: 50%;
    }
}


@media (max-width: 330px){


    .carousel-inner img {
        min-width: 200px;

    }

}

@media (max-width: 320px){


    .carousel-inner img {
        min-width: 100%;

    }

}


@media (max-width: 284px){

    #menu img{
        
        width: 70%;
    }
    
}