/* Reseta as margens da página */

html {

    scroll-behavior: smooth;
}

ul {

    list-style: none;
}

a {
    text-decoration: none;
}

body {
    margin: 0%;
    overflow-X: hidden;
}

.corpo.scroll {

    overflow: hidden;

}


html,
body {
    height: 100%;
}

/* .navbar-toggler-icon {
    background-color: aqua;
} */



#menu a:hover {
    color: rgb(0, 0, 0) !important;
}

#topnavbar .fa-solid {
    font-size: 20pt;
    color: #FFFFFF !important;
}

#menu {
    z-index: 3;
}

#menu .button-menu {
    font-size: 20pt;
    padding: 10px;
    display: none;
    cursor: pointer;
    color: #FFFFFF;

}

#sub-menu {
    position: fixed;
    z-index: 4;
    /* top: 62px; */
    right: 0;
    width: 60%;
    font-size: 16pt;
    height: 100%;
    max-width: 450px;
    min-width: 140px;
    padding-bottom: 100px;
    /* font-weight: bold; */
    transform: translateX(515px);
    transition: transform;
    transition: all .5s linear;
}

#sub-menu.aberto {
    transform: translateX(0);

}


#sub-menu a {
    /* #6e0766 */
    /* background-color: #180325; */
    border-bottom: 1px solid #c4c5c4;
    ;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

#sub-menu a .icons {
    display: flex;
    width: 100%;
    justify-content: end;
}

#sub-menu i {
    color: #e7ebe9;
}

#sub-menu .links:hover {
    color: #7fffd4 !important;
}

/* body::-webkit-scrollbar{
    width: 10px;
    background-color: #490eb6;
} */

.fechar-menu {
    visibility: hidden;
    z-index: 3;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
}

.fechar-menu.ativado {
    visibility: visible;

}

#secao1 {
    background-image: linear-gradient(to right, #16081F, #4E2476);
    color: #FFFFFF;

}

#secao1 .col-sm-6 {
    display: flex;
    justify-content: center;
    padding-top: 25px;

}

#secao1 .col-sm-6 img {
    min-width: 150px;

}

#secao1 .col-6 {
    /* background-color: #7fffd4; */

}

#secao1 #contentbv {
    margin-top: 25px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    /* background-color: #ffe4c4; */

}

#secao1 #contentbv .logo-banner {

    min-width: 150px;
}


#secao2 .carousel-inner .carousel-item {
    align-items: center;
}

#secao2 .carousel-inner img {
    border: 5px solid #782E83;
}

#secao2 .carousel-inner h2 {
    background-color: #782E83;
    width: 24%;
    padding: 5px;
    font-size: 16pt;
}

#secao2 .carousel-indicators {
    z-index: 1;
    padding-top: 10em;
}

#secao4 p {
    font-weight: bold;
}

#secao4 .col-lg-6 img {
    width: 500px;
}



/* flip card */
.card-flip>div {

    backface-visibility: hidden;
    transition: transform 300ms;
    transition-timing-function: linear;
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
}

.card-front {
    transform: rotateY(0deg);
}

.card-back {
    transform: rotateY(180deg);
    position: absolute;
    top: 0;
}

.card-flip:hover .card-front {
    transform: rotateY(-180deg);
}

.card-flip:hover .card-back {
    transform: rotateY(0deg);
}

/* Responsividade do iframe mapa */

#map-responsive {

    overflow: hidden;

    padding-bottom: 45%;

    position: relative;

    height: 0;

}

#map-responsive iframe {

    left: 5%;

    top: 0;

    height: 80%;

    width: 80%;

    position: absolute;

}